<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CoreUI CSS -->
    <!--<link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/coreui-icons.min.css">-->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <link rel="stylesheet" href="common_css/common_css.css">
    <title>场地管理</title>
    <!--jquery-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- bootstrap4js: -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- jQuery first, then Popper.js, Bootstrap, then CoreUI  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
    <script src="common_js/vue.min.js"></script>
    <script src="common_js/mock-min.js"></script>
</head>
<body >
    <div id="app">
        <!--删除模态框：-->
        <div class="modal fade " id="delete_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-color: red">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="exampleModalLabel">危险</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        记录删除后无法恢复。确定删除?
                    </div>
                    <div class="modal-footer" >
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" @click="confirm_delete(item_id)">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <!--新增模态框-->
        <div class="modal fade " id="add_user" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content " style="border-color:deepskyblue">
                    <div class="modal-header bg-info">
                        <h5 class="modal-title" id="addModalLabel">新增场地信息</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" novalidate>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">场地名</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail3"  ref="edt_name" placeholder="场地名" v-model="items_edt.sname" required >
                                </div>
                            </div>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                            <div class="form-group row">
                                <label for="inputDate" class="col-sm-4 col-form-label">开放时间</label>
                                <div class="col-sm-8">
                                    <input  class="form-control" id="inputDate" placeholder="年-月-日" v-model="items_edt.opening_time">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" >场地价格</label>
                                <div class="col-sm-8">
                                    <input  class="form-control" id="inputPrice" placeholder="元/小时" v-model="items_edt.price">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" >场地状态</label>
                                <div class="col-sm-8">
                                    <div class="col-sm-10">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="radio"  value="0" v-model="items_edt.enabled">
                                            <label class="form-check-label" >
                                                占用
                                            </label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="radio" value="1" v-model="items_edt.enabled">
                                            <label class="form-check-label" >
                                                空闲
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-info" @click="save()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!--编辑模态框：-->
        <div class="modal fade " id="update_user" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content " style="border-color:deepskyblue">
                    <div class="modal-header bg-info">
                        <h5 class="modal-title" id="updateModalLabel">编辑场地信息</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" novalidate>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">场地名</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail33"  ref="edt_name" placeholder="场地名" v-model="items_edt.sname" required >
                                </div>
                            </div>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                            <div class="form-group row">
                                <label for="inputDate" class="col-sm-4 col-form-label">开放时间</label>
                                <div class="col-sm-8">
                                    <!--新增的时候可能需要加上type="date"：-->
                                    <input  class="form-control" id="inputDate33" placeholder="年-月-日" v-model="items_edt.opening_time">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" >场地价格</label>
                                <div class="col-sm-8">
                                    <input  class="form-control" id="inputPrice33" placeholder="元/小时" v-model="items_edt.price">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" >场地状态</label>
                                <div class="col-sm-8">
                                    <div class="col-sm-10">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="radio"  value="0" v-model="items_edt.enabled">
                                            <label class="form-check-label" >
                                                占用
                                            </label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="radio" value="1" v-model="items_edt.enabled">
                                            <label class="form-check-label" >
                                                空闲
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-info" @click="editSave()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!--多选删除模态框：-->
        <div class="modal fade " id="delete_user_more" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-color: red">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="exampleModalLabell">危险</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p v-if="del_name!=''">您确定要删除吗?</p>
                        <p v-if="del_name==''">未选中要删除的对象，无法进行删除！</p>
                    </div>
                    <div class="modal-footer" >
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger"  @click=" confirm_delete_all()">确定</button>
                    </div>
                </div>
            </div>
        </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">首页</li>
        <li class="breadcrumb-item active">场地管理</li>
    </ol>
    <!--表格：-->
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header"><i class="icons  cui-people"></i>场地管理
                <div class="card-header-actions">
                    <a class="card-header-action btn-setting" href="#">
                        <i class="icon-settings"></i>
                    </a>
                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true">
                        <i class="icon-arrow-up"></i>
                    </a>
                    <button type="button" data-toggle="modal" data-target="#add_user"  class="btn btn-square btn-primary"><i class="icons  cui-user-follow"></i>新增</button>
                    <button type="button" data-toggle="modal"  class="btn btn-square btn-danger" @click="del_all()"> <i class="icons  cui-user-unfollow"></i>批量删除</button>
                </div>
            </div>
            <div class="card-body" >
                <!--表格：-->
                <table class="table table-responsive-sm table-bordered table-striped table-sm text-center">
                    <thead>
                    <tr>
                        <th><input type="checkbox" class="checkbox_all" @click="select_all()"/></th>
                        <th style="height: 50px;text-align:center">id</th>
                        <th style="height: 50px;text-align:center">场地名称</th>
                        <th style="text-align: center">开放时间</th>
                        <th style="text-align: center">场地价格</th>
                        <th style="text-align: center">场地状态</th>
                        <th style="text-align: center">场地使用者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in pageItems" :key="item.id">
                        <td><input type="checkbox" class="checkbox_item" @click="select_item(index)"/>#{{index}}</td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.sname }}</td>
                        <td>{{item.opening_time}}</td>
                        <td>{{ item.price}}</td>
                        <td>
                            <!--0：false:占用-->
                            <!--1：true:空闲-->
                            <span v-if="!item.enabled" class="badge badge-danger">占用</span>
                            <span v-else class="badge badge-success">空闲</span>
                        </td>
                        <td>{{ item.user}}</td>
                        <td>
                            <button class="btn  btn-primary" type="button"  data-toggle="modal"  @click="edit(item.id)">编辑</button>
                            <button class="btn  btn-danger" type="button"   data-toggle="modal" @click="del(item.id)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <nav style="float: left">
                        每页展示 1 至 {{pageSize}} 条 ，共有{{total}} 条记录数
                    </nav>
                    <nav style="float: right">
                        <ul class="pagination ">
                            <li class="page-item">
                                <a class="page-link"  v-bind:class="{ disabled: pageIndex==0 }" @click="pageIndex=0">首页</a>
                            </li>
                            <!-- 对类的监听控制： -->
                            <li class="page-item " v-bind:class="{ active: pageIndex+1==pageItem }" v-for="pageItem in pageCount">
                                <a class="page-link" @click="pageIndex=pageItem-1">{{pageItem}}</a>
                                <!-- <p v-if="pageNow=pageIndex+1" hidden="hidden"></p> -->
                            </li>
                            <li class="page-item">
                                <a class="page-link"@click="pageIndex=pageCount-1">末页</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script >

        var sites=[];
        $(function () {
            $.getJSON("http://127.0.0.1:8080/getSiteList",function (response) {
                // 得到数据列表：
                sites=response;
                console.log(response);
                var vm=new Vue({
                    el:"#app",
                    data:{
                        //获得的列表：
                        items:sites,
                        //新增：
                        items_edt :{sname:'',opening_time:'',price:'',enabled:'',user:''},
                        edt_index :"",
                        //批量删除的id:
                        delete_many_id:[],
                        // 关于页码跳转：
                        pageSize:10,
                        pageIndex:0,
                        total:sites.length,
                        //记录当前页：
                        pageNow:0,

                    },
                    computed: {
                        // 前端分页：
                        pageItems: function() {

                            //开始记录数和结束记录数：
                            var startIndex = this.pageIndex*this.pageSize;
                            var endIndex = startIndex + this.pageSize-1;
                            return this.items.filter(function(value, index) {
                                return (
                                        index >= startIndex &&
                                        index <= endIndex
                                );
                            });
                        },
                        //一共要分为几页：
                        pageCount:function(){
                            //ceil函数为向上取整：
                            var pageCount = Math.ceil(this.total/this.pageSize);
                            return pageCount;
                        }
                    },
                    methods: {
                        remove: function () {
                            this.items.splice(0, 1);
                        },
                        //根据id删除：
                        del(id){
                            $('#delete_user').modal('show');
                            this.item_id = id;
                        },
                        //确定删除：
                        confirm_delete(confirm_id){
                            console.log(confirm_id);
                            $.post(
                                        "http://127.0.0.1:8080/deleteSite",
                                       {id : confirm_id} ,
                                        function (response) {
                                            if (response === "success" ) {
                                                console.log("删除成功");
                                                //执行删除操作：
                                                //成功，刷新当前页面
                                                window.location.reload();
                                                $('#delete_user').modal('hide');
                                            } else {
                                                console.log("删除失败");
                                            }
                                        }
                                );
                        },
                        //添加场地信息：
                        save(){
                            var form = document.getElementsByClassName('needs-validation')[0];

                            if (form.checkValidity() === true) {
                                 event.preventDefault();
                                 event.stopPropagation();
                                form.classList.add('was-validated');
                                return false;
                            }
                            form.classList.add('was-validated');
                            Vue.set(this.items,this.edt_index,this.items_edt);
                            $.post(
                                    "http://127.0.0.1:8080/addSite",
                                    {
                                        sname:this.items_edt.sname,
                                        opening_time:this.items_edt.opening_time,
                                        price:this.items_edt.price,
                                        enabled:this.items_edt.enabled,
                                        user:this.items_edt.user
                                    } ,

                                    function (response) {
                                        if (response === "success" ) {
                                            console.log("成功");
                                            //更新数据：
                                            //成功，刷新当前页面

                                            this.items_edt ={sname:'',opening_time:'',price:'',enabled:'',user:''};
                                            window.location.reload();
                                            $('#add_user').modal('hide');
                                        } else {
                                            console.log("失败");
                                        }
                                    }
                            );
                            this.edt_index = null;
                        },
                        //修改用户：
                        edit(id){
                            var form = document.getElementsByClassName('needs-validation')[0];
                            form.classList.remove('was-validated');
                            $("#update_user").modal('show');

                            this.items.forEach((item) => {
                                if(item.id === id){
                                    if(item.enabled ===true){
                                        item.enabled = 1;
                                    }else if(item.enabled === false){
                                        item.enabled = 0;
                                    }

                                    this.items_edt = item;
                                }
                             });
                            console.log("值："+this.items_edt.enabled);
                            this.edt_index=id;

                        },
                        //编辑后保存：
                        editSave(){
                            var form = document.getElementsByClassName('needs-validation')[0];

                            if (form.checkValidity() === true) {
                                event.preventDefault();
                                event.stopPropagation();

                                form.classList.add('was-validated');
                                return false;
                            }

                            form.classList.add('was-validated');

                            <!--0：false:占用-->
                            <!--1：true:空闲-->
                            console.log( this.items_edt.enabled );
                            //发送到后端：
                            $.post(
                                    "http://127.0.0.1:8080/addSite",
                                    {
                                        id:this.items_edt.id,
                                        sname:this.items_edt.sname,
                                        opening_time:this.items_edt.opening_time,
                                        price:this.items_edt.price,
                                        enabled:this.items_edt.enabled,
                                        user:this.items_edt.user
                                    } ,

                                    function (response) {
                                        if (response === "success" ) {
                                            console.log("成功");
                                            //更新数据：
                                            //成功，刷新当前页面
                                            items_edt ={sname:'',opening_time:'',price:'',enabled:'',user:''};
                                            window.location.reload();
                                            $('#add_user').modal('hide');
                                        } else {
                                            console.log("失败");
                                        }
                                    }
                            );
                            this.edt_index = null;
                        },
                        //批量删除：
                        del_all(){
                            var indexs=[];
                            $("#delete_user_more").modal('show');
                            var userNames="";
                            $.each($(".checkbox_item:checked"),function(){
                                indexs.push(parseInt($(this).parents("tr").find("td:eq(1)").text()));
                            });
                            this.delete_many_id = indexs;
                            console.log(typeof this.delete_many_id);
                            console.log(this.delete_many_id);

                            this.del_index=indexs;
                        },
                        //确定批量删除：
                        confirm_delete_all(){

                            var params = {
                                deleteManyId:this.delete_many_id
                            };

                            $.post(
                                    "http://127.0.0.1:8080/deleteManySite",
                                    {
//
                                        JsonDeleteManyId: JSON.stringify(this.delete_many_id)
                                    },
                                    function (response) {
                                        if (response === "success" ) {
                                            console.log("成功");
                                            //更新数据：
//                                            console.log(typeof this.items);
//                                            this.items.push();
                                            //成功，刷新当前页面
                                            window.location.reload();
                                            $('#delete_user_more').modal('hide');
                                        } else {
                                            console.log("失败");
                                        }
                                    }

                            );

                        },
                        select_all(){
                            $(".checkbox_item").prop("checked",$(".checkbox_all").prop("checked"));

                        },
                        select_item(id){
                            $(document).on("click",".checkbox_item",function(){
                                var flag=$(".checkbox_item:checked").length == $(".checkbox_item").length;
                                $(".checkbox_all").prop("checked",flag);
                            });
                        },






                    }
                });
                return;
            })
        });

    </script>
</body>
</html>